body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  background: #111827;
  padding: 10px;
  border-radius: 10px;
}

.user {
  text-align: right;
  background: #2563eb;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

.bot {
  text-align: left;
  background: #374151;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}

.input-box {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
}